body.sc-body {
  min-height: 100vh;
  background: url("/images/sc-bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.text-container-is {
  @include flexCenter(column);
  min-width: 85vw;
  margin: 4em;
  padding: 3rem;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);

  header {
    text-align: center;
    max-width: 80vw;
    margin: 1rem 0;

    h1 {
      font-weight: 700;
    }

    p {
      font-weight: 300;
    }

    img {
      margin: 10px;
    }
  }

  main {
    padding: 1em;
    font-size: 1.2em;

    p {
      padding: 10px 14px;
      margin: 2rem 1rem;
      font-weight: 300;
    }

    hr.divider {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.5);
    }

    .about-article {
      display: flex;
      justify-content: center;
      margin-top: 2em;

      h2 {
        font-weight: 400;
        font-size: 0.8em;
      }
    }
  }
  .about-author {
    @include flexCenter(row);
    border-radius: 19px;
    background: $mainGreen;
    padding: 1rem;
    margin: 2rem 1rem;

    .author-img {
      @include flexCenter(row);
      img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 1px solid white;
      }
    }

    .author-desc {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;

        h3 {
            margin: 0;
            color: #fff;
            font-weight: 800;
          }

          p {
            margin: 1rem 0;
            padding: 0;
          }

          .social-link {
            display: flex;
            align-items: flex-start;

            .social-btn {
                @include flexCenter(column);
                margin: 0 5px;
                width: 50px;
                height: 50px;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                transition: 0.5s ease all;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                  }
              }
          }          
      }
  }

  a.exit-btn {
    padding: 12px 24px;
        button {
            &:hover {
                color:$mainGreen;
            }
        }
  }
}

