.magazine-body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7))), url("/images/alumni.png");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("/images/alumni.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.magazine-body .magazine-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.magazine-body .magazine-container #magazine {
  padding: 10px;
}

.magazine-body .magazine-container #magazine .row .box-container {
  margin: 0;
  padding: 1rem;
}

.magazine-body .magazine-container #magazine .row .box-container .img-container,
.magazine-body .magazine-container #magazine .row .box-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.magazine-body .magazine-container #magazine .row .box-container .text-container {
  background-color: white;
  padding: 0;
}

.magazine-body .magazine-container #magazine .row .box-container .text-container h1 {
  font-weight: 800;
  font-size: 2.5em;
  text-align: center;
  padding: 0 2em;
  margin: 2rem 0 1rem 0;
}

.magazine-body .magazine-container #magazine .row .box-container .text-container hr {
  background-color: #18d26e;
  border-top: 1px solid #18d26e;
  color: #18d26e;
  border-bottom: 1px solid #18d26e;
  width: 60%;
  float: left;
}

.magazine-body .magazine-container #magazine .row .box-container .text-container p {
  padding: 0 3em;
  margin: 1rem;
  font-weight: bold;
  text-align: center;
}

.magazine-body .magazine-container #magazine .row .box-container .img-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

.magazine-body .magazine-container #magazine .row .box-container .img-container img {
  height: 250px;
  margin: 1em;
  padding: 1em;
}

.magazine-body .magazine-container #magazine .row .box-container .btn-container {
  margin: 1rem 0 2rem 0;
}

.magazine-body .magazine-container #magazine .row .box-container .btn-container input {
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: 6px 6px 24px #e8e8e8, -6px -6px 24px #ffffff;
          box-shadow: 6px 6px 24px #e8e8e8, -6px -6px 24px #ffffff;
}

.magazine-body .magazine-container #magazine .row .box-container .btn-container input:focus {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  -webkit-box-shadow: 6px 6px 24px #e8e8e8, -6px -6px 24px #ffffff;
          box-shadow: 6px 6px 24px #e8e8e8, -6px -6px 24px #ffffff;
}

.magazine-body .magazine-container #magazine .row .box-container .btn-container button {
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: 6px 6px 24px #e8e8e8, -6px -6px 24px #ffffff;
          box-shadow: 6px 6px 24px #e8e8e8, -6px -6px 24px #ffffff;
}

#header-sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/scholarship/img/Online University.png");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/scholarship/img/Online University.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  color: white;
  padding: 1rem;
}

#header-sc h1 {
  margin: 1rem 0.5rem;
  color: #fff;
}

#header-sc hr {
  min-width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}

#header-sc p {
  margin: 1rem;
}

#sc-about .sc-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0 1rem 0;
  padding: 1rem 0;
}

#sc-about .sc-about h2,
#sc-about .sc-about hr {
  color: #18d26e;
}

#sc-about .sc-about hr {
  width: 60%;
}

#sc-about #sc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em 0;
  padding-bottom: 3em;
}

#sc-about #sc-container .sc-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25vw;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

#sc-about #sc-container .sc-1 img {
  width: 100%;
  overflow: hidden;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: -webkit-transform 1s, -webkit-filter 0.5s ease-in-out;
  transition: -webkit-transform 1s, -webkit-filter 0.5s ease-in-out;
  transition: transform 1s, filter 0.5s ease-in-out;
  transition: transform 1s, filter 0.5s ease-in-out, -webkit-transform 1s, -webkit-filter 0.5s ease-in-out;
}

#sc-about #sc-container .sc-1 img:hover {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  cursor: pointer;
}

#sc-about #sc-container .sc-1 .text-container-sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  height: 50%;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

#sc-about #sc-container .sc-1 .text-container-sc p {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

#sc-about #sc-container .sc-1 .text-container-sc p.status {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

body.sc-body {
  min-height: 100vh;
  background: url("/images/sc-bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.text-container-is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 85vw;
  margin: 4em;
  padding: 3rem;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
}

.text-container-is header {
  text-align: center;
  max-width: 80vw;
  margin: 1rem 0;
}

.text-container-is header h1 {
  font-weight: 700;
}

.text-container-is header p {
  font-weight: 300;
}

.text-container-is header img {
  margin: 10px;
}

.text-container-is main {
  padding: 1em;
  font-size: 1.2em;
}

.text-container-is main p {
  padding: 10px 14px;
  margin: 2rem 1rem;
  font-weight: 300;
}

.text-container-is main hr.divider {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.text-container-is main .about-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.text-container-is main .about-article h2 {
  font-weight: 400;
  font-size: 0.8em;
}

.text-container-is .about-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 19px;
  background: #18d26e;
  padding: 1rem;
  margin: 2rem 1rem;
}

.text-container-is .about-author .author-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-container-is .about-author .author-img img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid white;
}

.text-container-is .about-author .author-desc {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.text-container-is .about-author .author-desc h3 {
  margin: 0;
  color: #fff;
  font-weight: 800;
}

.text-container-is .about-author .author-desc p {
  margin: 1rem 0;
  padding: 0;
}

.text-container-is .about-author .author-desc .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.text-container-is .about-author .author-desc .social-link .social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.text-container-is .about-author .author-desc .social-link .social-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.text-container-is a.exit-btn {
  padding: 12px 24px;
}

.text-container-is a.exit-btn button:hover {
  color: #18d26e;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

body .main-page {
  max-width: 100vw;
}

.main-page nav, .sc-body nav, .sc-main nav {
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: black;
  z-index: 100;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("/images/bg3.JPG");
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/images/bg3.JPG");
  background-position: bottom;
  background-size: cover;
  min-height: 90vh;
  overflow: hidden;
  text-align: center;
}

#header h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 1rem 1.2rem 0 1.2rem;
}

#header h3 {
  font-size: 1.4rem;
  margin: 10px 1.2rem 2rem 1.2rem;
  font-weight: 300;
}

#header button {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

#header button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-intro {
  margin: 4rem 0;
  padding: 10px;
  text-align: center;
}

#about .about-intro h2 {
  color: #18d26e;
}

#about .about-intro h3 {
  font-size: 1em;
}

#about .about-intro p {
  margin: 0 2rem 4rem 0;
  padding: 0 5rem;
}

#about .about-intro img {
  margin: 10px 1rem;
  padding: 10px;
  width: 80%;
}

#about .about-main {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  min-height: 40vh;
  padding: 2rem 0;
}

#about .about-main h2 {
  margin: 1.5rem 0;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
}

#about .about-main .centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  margin: 1rem 0 2.5rem 0;
}

#about .about-main .centre a {
  width: 320px;
  height: 200px;
  padding: 20px 0 0 0;
}

#about .about-main .about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  background-color: #1a1a1a;
  color: white;
  max-width: 300px;
  min-height: 200px;
  margin: 1rem;
  text-align: center;
}

#about .about-main .about-cards:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  color: black;
}

#about .about-main .about-cards a {
  text-decoration: none;
  color: white;
}

#about .about-main .about-cards .title {
  padding: 0;
  color: #18d26e;
  font-weight: bold;
}

#support {
  padding: 2rem 0em;
  width: 100%;
}

#support .support-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 10px;
}

#support .support-content h3 {
  margin-bottom: 10px;
  color: #18d26e;
}

#support .support-content p {
  margin: 10px 0;
  padding: 10px 0;
}

#support .support-image .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  padding: 1em;
}

#support .support-image .img-container img {
  width: 100%;
}

#stories {
  background-color: var(--main-green);
  color: white;
  margin: 2rem 0;
  padding: 5rem 1.5rem;
}

#stories .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#stories .story-container {
  margin: 0 1rem;
  padding: 1rem;
  max-width: 550px;
}

#stories .story-container img {
  width: 100%;
  height: 300px;
}

#stories .story-container .story-content {
  margin: 1.5rem 0;
}

#stories .story-container .story-content h4 {
  color: white;
  font-weight: 900;
}

#stories .story-container .story-content hr.line {
  color: white;
  border-top: 1px solid white;
}

#stories .story-container .story-content button {
  width: 100%;
}

#cta, #end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20vh;
  margin-bottom: 2em;
}

#end {
  background-color: #1a1a1a;
  color: #18d26e;
  margin: 0;
  padding: 4em;
}

#end span {
  text-transform: uppercase;
  font-size: 2em;
  color: white;
}

/*responsive queries*/
@media screen and (max-width: 1000px) {
  .main-page nav, .sc-body nav, .sc-main nav {
    height: 12vh;
    padding: 10px;
  }
  #support .row .support-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0;
  }
  #support .row .support-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.3rem 0 1rem 0;
  }
  .sc-1 {
    width: 40vw;
    margin: 15px;
  }
  .img-container img {
    margin: 1em;
    padding: 1em;
  }
  .text-container h1 {
    font-size: 2em;
    padding: 1em 1em 0 1em;
    margin: 1em 0 0 0;
  }
  .text-container p {
    padding: 0 2em;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .about-main h2 {
    font-size: 1.2rem;
  }
  .sc-1 {
    width: 90vw;
    margin: 10px 0;
  }
  #magazine {
    max-width: 70vw;
    margin: 3rem 1rem;
  }
  .img-container img {
    margin: 1em;
  }
  #header-sc h1 {
    font-size: 1.5em;
  }
  .text-container-is main {
    padding: 0 1em 1em 1em;
    font-size: 1.2em;
  }
  .text-container-is main p {
    padding: 5px;
    margin: 0px;
    font-weight: 300;
  }
  .text-container-is .author-img img {
    height: 125px;
    width: 125px;
  }
  .text-container-is .author-desc {
    text-align: left;
  }
  .text-container-is .author-desc .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 428px) {
  #header h1 {
    font-weight: 900;
    font-size: 2rem;
    margin: 1rem 2rem 0 2rem;
  }
  #header h3 {
    font-size: 1rem;
    margin: 1rem 1.5rem 1.5rem 1.5rem;
  }
  #about .about-intro p {
    margin: 1rem;
    padding: 0 3rem;
  }
  #support .row .support-content p {
    margin: 12px;
    padding: 1rem;
    text-align: center;
  }
  .story-container img {
    height: 200px;
  }
  .img-container img {
    height: 100px;
    margin: 1em;
    padding: 1em;
  }
  .text-container h1 {
    font-size: .8em;
    padding: 1em .5em 0 .5em;
    margin: 1em 0 0 0;
  }
  .text-container p {
    margin: 10px;
    padding: 0 2em;
    font-size: 10px;
  }
  .btn-container {
    margin: .5rem .5rem 2rem .5rem;
    padding: 1rem;
  }
  .btn-container input {
    padding: 5px;
    font-size: 10px;
  }
  .btn-container button {
    padding: 5px;
    font-size: 10px;
  }
  .text-container-is {
    margin: 1rem;
  }
  .text-container-is header img {
    height: 200px;
  }
  .text-container-is .author-desc {
    text-align: center;
  }
  .author-desc .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */